<! DOCTYPE html>


<html>

    <head> 
    
        <title> <%= prenom %> </title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../contenu/css/style.css" type="text/css" />
    </head>
    
    
    <body>
    
    
        <p id="Bienvenue">Bienvenue <%= prenom %> ! <a href="/"> Deconnexion</a> </p>
        
        
    
    
    
    </body>

</html>